{% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/app.php/">API TEST</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/app.php/new/">Add New User</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        <table id="dtUsuarios" class="table table-hover" style="width:50%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">username</th>
                    <th scope="col">email</th>
                    <th scope="col">street</th>
                    <th scope="col">suite</th>
                    <th scope="col">city</th>
                    <th scope="col">zipcode</th>
                    <th scope="col">lat</th>
                    <th scope="col">lng</th>
                    <th scope="col">phone</th>
                    <th scope="col">website</th>
                    <th scope="col">Company name</th>
                    <th scope="col">catchPhrase</th>
                    <th scope="col">bs</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="user-table">
            </tbody>
        </table>
    </div>
{% endblock %}
{% block stylesheets %}
<style>
    body { font-size: 50%; }
</style>
{% endblock %}