{% extends 'base_user.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <input type="hidden" id="id" value="{{id}}" />
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/app.php/">API TEST</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/app.php/new/">Add New User</a></li>
                </ul>
            </div><!-- /.navbar-collapse aria-describedby="emailHelp" -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
    </div>

    <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>User Info</legend>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usName">Name</label>  
        <div class="col-md-4">
        <input id="usName" name="usName" type="text" placeholder="Type Your Name" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usUsername">Username</label>  
        <div class="col-md-4">
        <input id="usUsername" name="usUsername" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usEmail">E-mail</label>  
        <div class="col-md-4">
        <input id="usEmail" name="usEmail" type="text" placeholder="@email.com" class="form-control input-md">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usPhone">Phone</label>  
        <div class="col-md-4">
        <input id="usPhone" name="usPhone" type="text" placeholder="" class="form-control input-md">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usWebsite">Website</label>  
        <div class="col-md-4">
        <input id="usWebsite" name="usWebsite" type="text" placeholder="" class="form-control input-md">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="AddrStreet">Street</label>  
        <div class="col-md-4">
        <input id="AddrStreet" name="AddrStreet" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="AddrSuite">Suite</label>  
        <div class="col-md-4">
        <input id="AddrSuite" name="AddrSuite" type="text" placeholder="" class="form-control input-md">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="AddrCity">City</label>  
        <div class="col-md-4">
        <input id="AddrCity" name="AddrCity" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="AddrZip">ZIP Code</label>  
        <div class="col-md-4">
        <input id="AddrZip" name="AddrZip" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="GeoLat">Geolocation Latitude</label>  
        <div class="col-md-4">
        <input id="GeoLat" name="GeoLat" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="GeoLng">Geolocation Longitude</label>  
        <div class="col-md-4">
        <input id="GeoLng" name="GeoLng" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="cpName">Company Name</label>  
        <div class="col-md-4">
        <input id="cpName" name="cpName" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="cpCatchPhrase">Company CatchPhrase</label>  
        <div class="col-md-4">
        <input id="cpCatchPhrase" name="cpCatchPhrase" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="cpBs">Business Services</label>  
        <div class="col-md-4">
        <input id="cpBs" name="cpBs" type="text" placeholder="" class="form-control input-md" required="">
            
        </div>
        </div>

        <!-- Button -->
        <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
        </div>
        </div>

        </fieldset>
        </form>


{% endblock %}

{% block stylesheets %}
<style>
    body { font-size: 50%; }
</style>
{% endblock %}
